@model IEnumerable<QuickReserve.Application.Dtos.RestaurantDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurants</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-3 rounded" style="width: 18rem;">
            <a asp-controller="QuickReserve" asp-action="Details" asp-route-encodedName="@item.EncodedName" class="text-decoration-none">
            <img src="/uploads/default.png" alt="Uploaded Image" class="img-thumbnail" />
                <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.TypeOfRestaurant</h6>
                <p class="card-text">@item.City @item.Street</p>
            </div>
            </a>
        </div>     
    }
</div>
